/* Universal Selector */
* {
    font-family: Arial;
}

/* Type Selector */
h1 {
    color: chocolate;
}

h2 {
    color: darkblue;
}

/* Class Selector */
li.sarapan {
    color: darkorange;
}

/* ID Selector */
#makan_siang {
    color: darkgreen;
}

/* Child Selector */
p>b {
    color: darkcyan;
}

li>b {
    color: darkslateblue;
}

/* Decendant Selector */
p b {
    color: darkorchid;
}

/* Adjacent Sibling Selector */
p+h2 {
    color: deeppink;
}

/* General Sibling Selector */
h2~p {
    font-family: 'Times New Roman';
}