* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 10px;
}

.header-title {
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    color: cornsilk;
    font-style: uppercase;
}

.header:hover {
    background-color: cadetblue;
}

.judul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: coral;
    padding: 5px;
    font-size: 20px;
    color: aliceblue;
}

.konten {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.credits {
    font-size: 14px;
    font-weight: normal;
}

.penulis {
    color: crimson;

}

.tanggal {
    color: olive;
}

span {
    color: blue;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-preview {
    margin: 20px;
    background-color: antiquewhite;
    padding: 10px;
    width: 300px;
}

.box-preview:hover {
    background-color: #efefef;
}

.box-preview-judul {
    font-size: 1.2em;
    height: 60px;
    font-weight: bold;
}

.box-preview-credit {
    font-style: italic;
}

