* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    background-color: green;
    justify-content: center;
    padding: 10px;
}

.header>p {
    display: inline;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    font-size: 28px;
    flex-wrap: wrap;
    font-weight: bold;
    padding-left: 5px;
}

.header>img {
    width: 75px;
    height: 90px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.nav {
    background-color: black;
    margin: 0;
    display: flex;
}

.nav-item {
    padding: 3px;
    padding-top: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
}

li a {
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
}

li a:hover {
    color: green;
}

/* TO DO */
.container {
    /* border: 1px solid; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

div.container-item {
    /* border: 1px solid; */
    text-align: center;
}

/* Table */

.data-buku {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid green;
    border-radius: 10px;
}

tr:hover {
    background-color: aqua;
}

.table-genap td{
    background-color: gainsboro;
}

th {
    background-color:forestgreen;
    padding: 10px;
    color: whitesmoke;
}

td {
    background-color: whitesmoke;
    padding: 10px;
}

td>img {
    width: 100px;
}

/* Forms */
.form input{
    border: 2px solid green;
    border-radius: 5px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.text-area {
    height: 100px;
}

.submit {
    background-color: green;
    border-radius: 5px ;
    color: white;
    border: 0px;
}

.submit:hover {
    background-color: black;
}