body {
    background-color: #efefef;
    color: #efefef;
}

#artikel {
    border: 1px solid #2e2b2b;
    padding: 20px;
}

h1 {
    background-color: rgb(255, 96, 47);
    padding: 10px;
}

h2 {
    background-color: rgba(255, 47, 206, 0.5);
    padding: 10px;
}

/* hue - 0 sampai 360 */
/* saturasi - 0% sampai 100% */
/* lightness - 0% sampai 100% */
.paragraf1 {
    background-color: hsl(250, 100%, 50%);
    padding: 10px;
}

/* alpha - 0 sampai 1 */
.paragraf2 {
    background-color: hsla(150, 50%, 50%, 1);
    padding: 10px;
}